/**********************************
*
*          css reset
*
**********************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; font-family: 'Noto Sans TC', sans-serif; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { max-width: 100%; display: block; height: auto; }

a { color: unset; text-decoration: none; }

/**********************************
*
*          facebooc style
*
**********************************/
/* basic */
*, *:after, *:before { outline: none; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

html { font-family: "Open Sans"; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { background-color: #f5f5f5; font-size: 14px; color: #222831; padding-top: 54px; overflow-x: hidden; }

li { list-style: none; }

a { text-decoration: none; color: #3fc1c9; }

a:hover { color: #2b8489; }

p a { color: #364f6b; }

p a:hover { color: #293C51; text-decoration: underline; }

.hidden { display: none; }

.visible { display: block; }

.pull-left { float: left; }

.pull-right { float: right; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

/* 404.html */
div#page-404 a.btn { background-color: #364f6b; border: 0; border-radius: 0; color: #ffffff; width: 100%; }

/* dashboard.html */
main#dashboard div#title { background-color: #3fc1c9; }

main#dashboard input.btn { background-color: #364f6b; border: 0; border-radius: 0; color: #ffffff; width: 100%; }

/* index.html */
/* Carousel base class */
main#index .carousel { margin-bottom: 4rem; z-index: 1; /* Declare heights because of positioning of img element */ }

main#index .carousel .carousel-item { height: 32rem; /* Since positioning the image, we need to help out the caption */ }

main#index .carousel .carousel-item .carousel-caption { bottom: 3rem; z-index: 10; }

main#index .carousel .carousel-item .carousel-caption h1, main#index .carousel .carousel-item .carousel-caption h2 { margin-bottom: 0.5rem; padding: 5px; font-size: 2.5em; font-weight: 500; line-height: 1.2; border-bottom: 2px solid white; }

main#index .carousel .carousel-item .carousel-caption p { margin-bottom: 1.25rem; padding: 5px; font-size: 1.25rem; line-height: 1.4; }

main#index .carousel .carousel-item .carousel-caption p a.btn { color: #ffffff; background-color: #FC5185; font-size: 16px; border-radius: 6px; -webkit-box-shadow: 0px 4px #7C2842; box-shadow: 0px 4px #7C2842; }

main#index .carousel .carousel-item .carousel-caption p a.btn:hover { color: #BFBFBF; background-color: #BC3D63; -webkit-box-shadow: 0px 4px #3C1320; box-shadow: 0px 4px #3C1320; }

main#index .carousel .carousel-item .carousel-caption p a.btn:active { -webkit-box-shadow: 0px 0px #3C1320; box-shadow: 0px 0px #3C1320; top: 4px; }

/* Hero part */
main#index .hero { z-index: 2; }

main#index .hero .container h2 { margin-bottom: 0.5rem; }

main#index .hero .container .overflow-hidden { max-height: 30vh; }

main#index .hero a.btn { background-color: #364f6b; border: 0; color: #ffffff; width: 100%; }

main#index .hero a.btn:hover { color: #3fc1c9; }

/* login.html and signup.html */
form#main-form { -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); background-color: #ffffff; width: 100%; max-width: 320px; margin: 3em auto; padding: 2em 2em 2em 2em; }

form#main-form input.form-control { border: none; border-radius: 0; border-bottom: 1px solid #757575; }

form#main-form input.form-control:hover { border-color: #3FC1C9; }

form#main-form input.btn { background-color: #364f6b; border: 0; border-radius: 0; color: #ffffff; width: 100%; }

form#main-form .checkbox input { margin: auto; }

form#main-form .alert { margin-top: 6px; color: #F44538; font-size: 12px; line-height: 12px; }

/* navbar.html */
nav { background-color: #364f6b; }

nav .container button.navbar-toggler { border: none; background-color: none; }

nav .container button.navbar-toggler span.navbar-toggler-icon { color: #3fc1c9; }

nav .collapse form { margin-left: 20px; }

nav .collapse li, nav .collapse form { display: none; }

nav .collapse li.visible, nav .collapse form.visible { display: inline; }

nav .collapse li.hidden, nav .collapse form.hidden { display: none; }

nav .collapse li { border-bottom: #364f6b solid 1px; margin: auto; margin-left: 0px; }

nav .collapse li.active { border-bottom: white solid 1px; }

nav .collapse li.active a { color: white; }

/* post */
.posts { margin: 0 auto 2em auto; background-color: #ffffff; width: 100%; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); max-width: 588px; z-index: 4; }

.posts a { color: #999; }

.posts a:hover { text-decoration: underline; }

.posts .not-found { font-size: 14px; padding: 2em; color: #999; }

.post-item { padding: 2em; }

.post-item + .post-item { border-top: 1px solid #eee; }

.post-author { font-weight: 700; }

.post-content { margin: .5em 0; word-wrap: break-word; }

/* search results */
.search-results { margin: 3em auto 2em auto; background-color: #ffffff; width: 100%; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); max-width: 588px; }

.search-results li { padding: 2em; }

.search-results li + li { border-top: 1px solid #eee; }
/*# sourceMappingURL=main.css.map */