{%include templates/header.html%}
<main id="dashboard">
    <div id="title" class="p-4 p-md-5 mb-4 text-white rounded">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome back, {{accountName}}!</h1>
            <p class="lead my-3">Here's what your friends have been up to:</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <form action="/post/" method="POST" id="main-form" role="form">
        <div class="form-group">
            <textarea class="form-control shadow-none"
                      id="post"
                      name="post"
                      rows="3"
                      placeholder="What would you like to share?">
            </textarea>
        </div>

        <input class="btn btn-inline" type="submit" value="Post" />
        <div class="clearfix"></div>
    </form>

    <div class="container px-4 pt-5 my-5 text-center border-bottom bg-white" id="about">
        <h2 class="display-4 fw-bold mb-4">Graph</h2>
        <div class="col-lg-6 mx-auto fs-4 mb-4">
            {{graph}}
        </div>
    </div>
</main>

{%include templates/footer.html%}
