{%include templates/header.html%}

<body>
    <main id="index">
        <div id="home-page-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#home-page-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#home-page-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#home-page-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#3FC1C9"/>
                    </svg>

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Facebooc</h1>
                            <p>The best social network you've never heard of!</p>
                            <p><a class="btn btn-lg" href="/signup/">Register Now</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#3FC1C9"/>
                    </svg>
                    <div class="container">
                        <div class="carousel-caption">
                            <h2>What is facebooc?</h2>
                            <p>A Facebook clone written in C language. The only dependency is SQLite3.</p>
                            <p><a class="btn btn-lg" href="#about">Learn More</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#3FC1C9"/>
                    </svg>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h2>Prerequisites</h2>
                            <p>This show how to run it.</p>
                            <p><a class="btn btn-lg" href="#require">Tutorial</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#home-page-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#home-page-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="hero">
            <div class="container px-4 pt-5 my-5 text-center border-bottom bg-white" id="about">
                <h2 class="display-4 fw-bold">What is facebooc</h2>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">
                        Facebooc is a social platform implemented in C language. Based on C, its response time is much less than others', which performs the flexibility of C.
                    </p>
                    <p class="lead mb-4">
                        The website is designed with Boostrap components and SCSS stylesheets. The latters are both edited and recognized more easily than CSS ones are.
                    </p>
                    <p class="lead mb-4">
                        We use SQLite3 as database. SQLite supports most OSes, such as Linux, MacOS, and Windows. It also provides easy-to-use APIs.
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                        <a class="btn btn-lg px-4 me-sm-3" href="https://getbootstrap.com/">About Boostrap</a>
                        <a class="btn btn-lg px-4" href="https://www.sqlite.org/index.html">About SQLite3</a>
                    </div>

                    <div class="overflow-hidden">
                        <div class="container px-5">
                            <img src="https://getbootstrap.com/docs/5.2/examples/heroes/bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container px-4 pt-5 my-5 border-bottom bg-white" id="require">
                <h2 class="display-4 fw-bold text-center">Prerequisites</h2>
                <div class="col-lg-6 mx-auto">
                    <ol class="lead list-group list-group-flush list-group-numbered">
                        <li class="list-group-item d-flex mb-4">
                            <div class="ms-2 me-auto text-left">
                                <div class="fw-bold mb-4">Install SQLite development package:</div>
                                <code>sudo apt-get install libsqlite3-dev</code>
                            </div>
                        </li>

                        <li class="list-group-item d-flex mb-4">
                            <div class="ms-2 me-auto text-left">
                                <div class="fw-bold mb-4">Build and Run:</div>
                                <code>cd facebooc</code>
                                <br/>
                                <code>make run</code>
                            </div>
                        </li>
                        <li></li>
                    </ol>

                    <div class="overflow-hidden">
                        <div class="container px-5">
                            <img src="https://www.sqlite.org/images/sqlite370_banner.gif" class="img-fluid border rounded-3 shadow-lg" alt="Example image" width="700" height="500" loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container px-4 pt-5 my-5 text-center border-bottom bg-white" id="license">
                <h2 class="display-4 fw-bold">Licensing</h2>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">
                        Facebooc is freely redistributable under the two-clause BSD License. Use of this source code is governed by a BSD-style license that can be found in the LICENSE file.
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                        <a class="btn btn-lg px-4 me-sm-3" href="https://github.com/25077667/facebooc/blob/master/LICENSE">About BSD</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {%include templates/footer.html%}
</body>
