<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand pull-left fs-2" href="/">facebooc</a>

        <div class="justify-content-end">
            <ul class="nav nav-pills">
                <li class="nav-item visible {%when active login active%} {%when loggedIn t hidden%} ">
                    <a class="nav-link" href="/login/">Login</a>
                </li>

                <li class="nav-item visible {%when active signup active%} {%when loggedIn t hidden%} ">
                    <a class="nav-link" href="/signup/">Sign Up</a>
                </li>
            </ul>
            
            <ul class="nav nav-pills">
                <li class="nav-item {%when active dashboard active%}  {%when loggedIn t visible%} ">
                    <a class="nav-link" href="/dashboard/">Dashboard</a>
                </li>

                <li class="nav-item {%when loggedIn t visible%} ">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>
                
                <li class="nav-item {%when loggedIn t visible%} ">
                    <form role="search" action="/search/" method="GET" class="form-inline">
                        <input type="text"
                               class="form-control"
                               placeholder="Search for people..."
                               name="q"
                               value="{{searchQuery}}"/>
                    </form>
                </li>   
            </ul>          
        </div>
    </div>
</nav>