/* dashboard.html */

main#dashboard {
    div#title {
        background-color: #3fc1c9;
    }
    input.btn {
        background-color: #364f6b;
        border: 0;
        border-radius: 0;
        color: #ffffff;
        width: 100%;
    }
}